@forward "./variables";
@use "./variables" as *;

// Typography

@mixin h1 {
  font-family: Furore, sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.07em;

  @include desktop {
    font-size: 60px;
  }
}

@mixin h2 {
  font-family: Furore, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 133%;
  letter-spacing: 0.07em;

  @include desktop {
    font-size: 36px;
  }
}

@mixin h3 {
  font-family: Furore, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.07em;

  @include desktop {
    font-size: 22px;
  }
}

@mixin lead {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 22px;
  }
}

@mixin text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 16px;
  }
}

@mixin bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 16px;
  }
}

@mixin caption {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;

  @include desktop {
    font-size: 14px;
  }
}

@mixin ui {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.05em;

  @include desktop {
    font-size: 18px;
  }
}

// Layout

@mixin layout {
  width: 320px;
  background-color: $black-primary;
  color: $white;
  overflow: visible;
  align-self: center;

  @include desktop {
    width: 1170px;
  }
}
