@import url("./reset.css");
@import url("./transitions.css");

@font-face {
  font-family: "Furore";
  src: url("/fonts/Furore.eot");
  src: local("☺"), url("/fonts/Furore.woff") format("woff"),
    url("/fonts/Furore.ttf") format("truetype"),
    url("/fonts/Furore.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.eot");
  src: local("☺"), url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.ttf") format("truetype"),
    url("/fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.eot");
  src: local("☺"), url("/fonts/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto-Regular.ttf") format("truetype"),
    url("/fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
