@use "./variables" as *;

.h2 {
  font-family: Furore, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 133%;
  letter-spacing: 0.07em;

  @include desktop {
    font-size: 36px;
  }
}

.h3 {
  font-family: Furore, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.07em;

  @include desktop {
    font-size: 22px;
  }
}

.lead {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 22px;
  }
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 16px;
  }
}

.bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;

  @include desktop {
    font-size: 16px;
  }
}

.caption {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;

  @include desktop {
    font-size: 14px;
  }
}

.ui {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.05em;

  @include desktop {
    font-size: 18px;
  }
}
