// COLORS
$black-primary: #131313;
$black-light: #1b1b1b;

$grey-primary: #535353;
$grey-light: #d7d7d7;

$white: #ffffff;

$red-primary: #dc1515;
$red-tomato: #a62d2d;
$red-light: #c99c9c;

// BREAKPOINTS
$screen-desktop: 1170px;

// Миксин для брейкпоинта
@mixin desktop {
  @media (min-width: $screen-desktop) {
    @content;
  }
}
