@use "@/styles/variables" as *;

.root {
  width: 100%;
  max-width: 320px;
  overflow: visible;
  align-self: center;
  padding: 0 16px;
  box-sizing: border-box;

  @include desktop {
    max-width: 1170px;
    width: 1170px;
    padding: 0;
  }
}

.grow {
  flex: 1 0 0;
  min-height: 0px;
}
