@use "@/styles/variables.scss" as *;

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $grey-primary;
  border-left: 5px solid $grey-primary;
  animation: spin 0.5s infinite linear;

  @include desktop {
    width: 80px;
    height: 80px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $grey-primary;
    border-left: 10px solid $grey-primary;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
