@use "@/styles/variables" as *;

.root {
  max-width: 320px;
  margin: 0 auto;
  background-color: $black-primary;
  color: $white;
  padding-top: 110px;
  overflow: hidden;

  @include desktop {
    max-width: 1170px;
  }
}
